.landingPage{
    height: 100%;
    display: grid;
    grid-template-columns: 75px auto;
    color: #eee;
}

.landingPage > div{
    height: 100%;
}

.guildContainer{
    background-color: var(--primary-bg-color);
    padding: 40px 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 5px 0;
    overflow-y: auto;
    scrollbar-width: none;
}

.guildIcon{
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--terciary-bg-color);
    transition: .25s;
}

.guildIcon img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    transition: .25s;
}

.guildIcon img:hover, .guildIcon:hover{
    border-radius: 25%;
}

.backgroundContainer{
    background-color: var(--secondary-bg-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guildPopup{
    width: 400px;
    height: 500px;
    padding: 60px 50px;
    background-color: var(--primary-bg-color);
    border-radius: 10%;
    transition: .5s;
}

.createGuild{
    height: 100%;
    display: flex;
    gap: 10px 0;
    flex-direction: column;
    justify-content: flex-start;
}

.createGuild h2{
    font-size: 30px;
    color: var(--secondary-tx-color);
}

.createGuild p{
    margin-top: 10px;
    font-size: 14px;
}

.createGuild input {
    background-color: var(--secondary-bg-color);
    color: #ccc;
    height: 46px;
    padding: 0 16px;
    border: 0;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    outline: 0;
    transition: .2s;
}

.hidden{
    opacity: 0;
}

.delete{
    display: none;
}