.body {
    display: flex;
    height: 100vh;
  }
  
  .container {
    background-color: rgb(10, 10, 10); 
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
      width: 100px;
  }

  .right {
    flex: 1;
    background-color: black;
    background-image: url(https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .profile {
    background-color: rgb(19, 19, 19); 
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .slideAnimSet{
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease;
  }

  .slideAnim{
    animation-name: slideRight;
    animation-delay: 0.5s;
  }

  .header{
    animation-name: Appear;
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease;
  }

  .header > img {
    margin: 0;
    width: 200px;
    border-radius: 50%;
}

  .header > h2 {
    margin: 0;
    color: #4f46a5;
  }

  .header > h4 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.4);
  }

  @keyframes slideRight {
    0% {
      width: 0;
    }
  
    100% {
      padding: 20px 40px;
      width: 100%;
    }
}

@keyframes Appear {
    0% {
      opacity: 0;
    }
  
    100% {
        opacity: 1;
        padding: 20px 40px;
      width: 100%;
    }
}