@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html, #__next{
    height: 100%;
    font-family: 'Rubik', sans-serif;
}

:root{
    --primary-bg-color: #313131;
    --secondary-bg-color: #414141;
    --terciary-bg-color: #525252;
    --primary-tx-color: #eee;
    --secondary-tx-color: #CA3E47;
}