@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html, #__next{
    height: 100%;
    font-family: 'Rubik', sans-serif;
    color: var(--primary-white-tx);
}

:root{
    /*Background*/
    --primary-black-bg: #181818;
    --secondary-black-bg: #1e1e1e;
    --terciary-black-bg: #232323;
    --quaternary-black-bg: #262626;

    --primary-violet-bg: #8b5cf6;
    --secondary-violet-bg: #A78BFA;

    --primary-black-bg-90: #18181890;

    /*Text*/
    --primary-white-tx: #eee;
    --secondary-white-tx: #a3a3a3;
    
    --primary-violet-tx: #8b5cf6;
    --secondary-violet-tx: #A78BFA;
}