*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html, #__next{
    height: 100%;
    color: var(--pri-text);
}

:root{
    /*Background*/
    --pri-bg: #121212;
    --sec-bg: #151515;
    --ter-bg: #191919;
    --qua-bg: #212121;

    /*Text*/
    --pri-text: #ffffff87;
    --sec-text: #ffffff60;
    --dis-text: #ffffff38;
}

button:focus, input:focus {
    box-shadow: none !important;
}